.workflows {
    height: 100vh;
    background: black;
    background-image: url(../../image/workflows/workflowslight.png);
    background-repeat: no-repeat;
    background-size: 50% 40%;
    background-position: center center;
    position: relative;
}
.react-tabs__tab-list {
    border-bottom: none !important;
    margin: 0 0 0 -10px !important;
}
.react-tabs {
    width: 40%;
}
.tabContent {
    margin-top: -190px !important;
    pointer-events: none;
}
.workflowsImg {
    width: 1400px;
    position: absolute;
    top: 250px;
    left: 132px;
    float: left;
}
.react-tabs__tab--selected {
    width: 21%;
    background: none !important;
    border: none !important;
    color: #0000FF !important;
    font-size: 20px;
    line-height: 48px;
 
}
.react-tabs__tab {
    text-align: center;
    width: 21%;
    /* background: url(../../image/workflows/tabUnclick.png) no-repeat !important; */
    font-size: 20px;
    line-height: 48px;
    color: #999999;
}
.tab {
    display: flex;
}
.tabContent {
    width: 105%;
    margin-top: -10px;
    z-index: 999;
}
.tabBox {
    position: relative;
    
}
.tabContentText {
    width: 76%;
    height: 94%;
    position: absolute;
    top: 3%;
    left: 8%;
    font-size: 18px;
    color: #999999;
}
.tabContentText-text {
    height: 94%;
    width: 90%;
    overflow-y: scroll;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width:4px;
    height: 4px;
    offset: 10px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius:20px;
   
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius:20px;
    background:#BFBEC4;

}

.tabContentText > div:nth-of-type(2) {
    margin-left: 5%;
}
.tabContentText > div:nth-of-type(5) {
    margin-top: 7%;
}
.tabContentText > div:nth-of-type(6) {
    margin-left: 5%;
}
.tabContentText > div:nth-of-type(7) {
    margin-left: 10%;
}
.tabContentText > div:nth-of-type(8) {
    margin-left: 15%;
}
.tabContentText > div:nth-of-type(9) {
    margin-left: 18%;
}
.tabContentText > div:nth-of-type(10) {
    margin-left: 15%;
}
.workflowsButton {
    width: 99px;
    height: 39px;
    line-height: 0;
    background-color: black;
    background-image: url(../../image/workflows/workflowsButton.png);
    background-size: 100% 100%;
    margin-top: 21px;
    border: none;
}
.workflowsButton:hover{
    background-image: url(../../image/workflows/workflowsButtonHover.png);
}
.workflowsText {
    margin-right: 7%;
    margin-top: 200px;
    float: right;
    position: relative;
}
.workflows-title {
    font-family: 'SourceHanSansCN-Heavy';
    font-weight: bolder;
    font-size: 68px;
    color: #FCFCFC;
    text-align: right;
}

.workflowsText-text > div:nth-of-type(1) {
    width: 580px;
    font-family:'SourceHanSansCN-Normal';  
    font-size: 18px;
    text-align: right;
    color: #999999;
    margin-top: 70px;
    position: absolute;
    right: 0;
}
.workflowsText-text > div:nth-of-type(2) {
    width: 580px;
    font-family:'SourceHanSansCN-Normal';  
    font-size: 18px;
    text-align: right;
    color:#999999;
    margin-top: 180px;
    position: absolute;
    right: 0;
}
.workflows-foot {
    width: 100%;
    border-bottom: 1px solid #a5a3a3;
    opacity: 30%;
    position: absolute;
    bottom:-73px;
}
@media screen and (max-width: 900px) {
    .workflows {
        height: 800px;
        top:400px;
    }
    .react-tabs__tab-list {
        border-bottom: none !important;
    }
    .react-tabs {
        width: 100%;
        position: absolute;
    }
    .workflowsImg {
        width: 350px;
        position: absolute;
        top:100px;
        left: calc((100% - 350px) / 2);
        float: left;
    }
    .react-tabs__tab--selected {
        width: 19%;
        background: black!important;
        border: none !important;
        color: #0000FF !important;
        line-height: 26px;
        font-size: 12px;
    }
    .react-tabs__tab {
        width: 19%;
        background:  black !important;
        font-size: 12px;
        line-height: 26px;
        color: #999999;
    }
    .tab {
        display: flex;
    }
    .tabContent {
        width: 100%;
        margin-top: -120px !important;
        z-index: 999;
    }
    .tabBox {
        position: relative;
    }
    .tabContentText {
        width: 78%;
        position: absolute;
        top: 0;
        left: 5%;
        font-size: 12px;
        color: #BFBEC4;
    }
    .tabContentText-text {
        height: 180px;
        overflow-y: scroll;
    }
    .tabContentText > div:nth-of-type(2) {
        margin-left: 5%;
    }
    .tabContentText > div:nth-of-type(5) {
        margin-top: 7%;
    }
    .tabContentText > div:nth-of-type(6) {
        margin-left: 5%;
    }
    .tabContentText > div:nth-of-type(7) {
        margin-left: 10%;
    }
    .tabContentText > div:nth-of-type(8) {
        margin-left: 15%;
    }
    .tabContentText > div:nth-of-type(9) {
        margin-left: 18%;
    }
    .tabContentText > div:nth-of-type(10) {
        margin-left: 15%;
    }
    .workflowsButton {
        width: 60px;
        height: 25px;
        line-height: 0;
        background-color: black;
        background-image: url(../../image/workflows/workflowsButton.png);
        background-size: 100% 100%;
        margin-top: 301px;
        border: none;
    }
    .workflowsButton:hover{
        background-image: url(../../image/workflows/workflowsButtonHover.png);
    }
    .workflowsText {
        width: 100%;
        margin-right: 0;
        margin-top: 0;
        position: absolute;
        top: 450px;
    }
    .workflows-title {
        font-size: 28px;
        color: #FCFCFC;
        text-align: center;
    }
    .workflowsText-text > div:nth-of-type(1) {
        width: 90%;
        font-size: 12px;
        color: #999999;
        margin-top: 10px;
        margin-left: 5%;
        position: static;
        text-align: center;
    }
    .workflowsText-text > div:nth-of-type(2) {
        width: 90%;
        font-size: 12px;
        color: #999999;
        margin-top: 10px;
        margin-left: 5%;
        position: static;
        text-align: center;
    }
    .workflows-foot {
        width: 100%;
        border-bottom: 1px solid #a5a3a3;
        opacity: 30%;
        position: absolute;
        bottom: 0;
    }
}

