.partners {
    background-image: black;
    padding-bottom: 100px;
}
.partners-title {
    width: 100%;
    font-family: 'SourceHanSansCN-Heavy';  
    font-weight: bolder;
    text-align: center;
    color: #FCFCFC;
    font-size: 68px;
}

.partners-text {
    width: 100%;
    text-align: center;
    font-family: 'SourceHanSansCN-Normal';  
    font-size: 18px;
    color: #999999;
    margin-top: 34px;
}
.box {
    width: 1285px;
    margin-left: calc((100% - 1285px) / 2);
    box-sizing: border-box;
    background:black;
    padding: 8px;
    border-radius: 8px;
    margin-top: 73px;

}
.partnersContent {
    width: 100%;
    border-radius: 8px;
    background: black;
    padding-top: 3%;
}
.partnersContent-box {
    width: 94%;
    margin-left: 3%;
}

.partnersOne > a:nth-of-type(1) > img {
    width: 80px;
    margin-left: 70px;
}
.partnersOne > a:nth-of-type(2) > img {
    width: 167px;
    margin-left: 95px;
}
.partnersOne > a:nth-of-type(3) > img {
    width: 198px;
    margin-left: 56px;
}
.partnersOne > a:nth-of-type(4) > img {
    width: 62px;
    margin-left: 93px;
}
.partnersOne > a:nth-of-type(5) > img {
    width: 162px;
    margin-left: 98px;
}
.partnersTwo {
    height: 71px;
    display: flex;
    align-items: center;
    margin-top: 37px;
}
.partnersTwo > a:nth-of-type(1) > img {
    width: 158px;
}
.partnersTwo > a:nth-of-type(2) > img {
    width: 137px;
    margin-left: 91px;
}
.partnersTwo > a:nth-of-type(3) > img {
    width: 82px;
    margin-left: 149px;
}
.partnersTwo > a:nth-of-type(4) > img {
    width: 161px;
    margin-left: 101px;
}
.partnersTwo > a:nth-of-type(5) > img {
    width: 160px;
    margin-left: 50px;
}



@media screen and (max-width: 900px) {
    .partners {
    
        padding-bottom: 50px;
        margin-top: 60px;
    }
    .partners-title {
        width: 100%;
        text-align: center;
        color: #FCFCFC;
        font-size: 28px;
    }
 
    .partners-text {
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: #999999;
        margin-top: 10px;
    }
    .box {
        width: 360px;
        margin-left: calc((100% - 360px) / 2);
        box-sizing: border-box;
        
        padding: 4px;
        border-radius: 4px;
        margin-top: 20px;
    }
    .partnersContent-box {
        width: 94%;
        margin-left: 3%;
        border-radius: 6px;
        padding: 5px 0 0 0;
    }
    .partnersOne {
        height: 35px;
        display: flex;
        align-items: center;
    }
    .partnersOne > a:nth-of-type(1) > img {
        width: 30px;
        margin-left: 5px;
    }
    .partnersOne > a:nth-of-type(2) > img {
        width: 43px;
        margin-left: 30px;
    }
    .partnersOne > a:nth-of-type(3) > img {
        width: 52px;
        margin-left: 20px;
    }
    .partnersOne > a:nth-of-type(4) > img {
        width: 35px;
        margin-left: 20px;
    }
    .partnersOne > a:nth-of-type(5) > img {
        width: 50px;
        margin-left: 30px;
    }
    .partnersTwo {
        height: 45px;
        display: flex;
        align-items: center;
        margin-top: 37px;
    }
    .partnersTwo > a:nth-of-type(1) > img {
        width: 41px;
        margin-left: 5px;
    }
    .partnersTwo > a:nth-of-type(2) > img {
        width: 40px;
        margin-left: 20px;
    }
    .partnersTwo > a:nth-of-type(3) > img {
        width: 40px;
        margin-left: 20px;
    }
    .partnersTwo > a:nth-of-type(4) > img {
        width: 45px;
        margin-left: 30px;
    }
    .partnersTwo > a:nth-of-type(5) > img {
        width: 42px;
        margin-left: 30px;
    }

}
