.economyMore {
    height: 100vh;
    width: 100%;
    position: absolute;
    margin-top: 200px ;
    top:200vh;
    display: flex;
}
.economyMoreImg {
    width: 150px;
    height: 450px;
    margin-left: 20%;
  
}
.economyMoreText {
    text-align: right;
    position: relative;
    margin-left: 20%;

}
.economyMore-title {
    font-family: 'SourceHanSansCN-Heavy';
    font-weight: bolder;
    font-size: 68px;
    color: #FCFCFC;
}

.economyMoreText-text1 {
    width: 683px;
    font-family: 'SourceHanSansCN-Normal';
    color: #999999;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 180px;
    margin-top: 120px;
}
.economyMoreText-text2 {
    width: 683px;
    font-family: 'SourceHanSansCN-Normal';
    color: #999999;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 383px;
}

@media screen and (max-width: 900px) {
    .economyMore {
        height: 70vh;
        width: 100%;
        display: block;
        position: absolute;
        top:140vh;
    }
    .economyMoreImg {
        width: 70%;
        position: absolute;
        left: 15%;
        top: 100px;
    }
    .economyMoreText {
        text-align: center;
        position: static;
        margin-top: 50px;
    }
    .economyMore-title {
        font-size: 28px;
        color: #FCFCFC;
    }
    .lineBox {
        width: 100%;
        position: relative;
    }

    .economyMoreText-text1 {
        width: 80%;
        font-size: 12px;
        position: absolute;
        right: 10%;
        top: 60px;
    }
    .economyMoreText-text2 {
        width: 80%;
        font-size: 12px;
        position: absolute;
        right: 10%;
        top: 120px;
    }
}
