@font-face {
    font-family: 'Futura Std';
    src: url(./font/FuturaStdBook.otf);
}
.app {
    width: 100%;
    background: #18191C;
}
.menu {
    height: 140px;
    line-height: 100px;
}
.menuMobile {
    height: 80px;
    line-height: 60px;
    display: none;
}
.logoImg {
    width: 60%;
}
.github {
    width: 35px;
}
.twitter {
    width: 35px;
}
.fly {
    width: 35px;
}
@media screen and (max-width: 1024px){
    .menu {
        display: none;
    }
    .logoImg {
        width: 100%;
    }
    .menuMobile {
        height: 80px;
        line-height: 60px;
        display: block;
    }
}


