
.app {
    width: 100%;
  background: black;
}
.menu {
    height: 100px;
    line-height: 100px;
}
.menuMobile {
    height: 80px;
    line-height: 60px;
    display: none;
}
.logoImg {
    width: 60%;
}

.twitter {
    width: 35px;
}
.twitter:hover{
    content: url(./image/top/topTwitterHover.png);
}
.fly {
    width: 35px;
}
.fly:hover{
    content: url(./image/top/topFlyHover.png);
}
@media screen and (max-width: 900px){
    .menu {
        display: none;
    }
    .logoImg {
        width: 100%;
    }
    .menuMobile {
        height: 80px;
        line-height: 60px;
        display: block;
    }
}


